@import 'colors.sass'

html
  -webkit-box-sizing: border-box
  box-sizing: border-box
  font-family: sans-serif
  line-height: 1.15
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  -ms-overflow-style: scrollbar
  -webkit-tap-highlight-color: transparent

body
  margin: 0
  font-size: 1rem
  font-weight: 400
  line-height: 1.5
  background-color: $main-color
  color: $font-main-color

*, *::before, *::after
  box-sizing: inherit

.whole-wrapper
  min-height: 100vh
  min-width: 100vw
  display: -ms-flexbox
  display: flex
  -ms-flex-pack: center
  justify-content: center
  -ms-flex-align: center
  align-items: center
  -ms-flex-direction: column
  flex-direction: column
  .main-container
    min-width: 100px
    max-width: 95%
    padding: 40px 30px
    text-align: center
    margin: auto
    +medium-devices
      max-width: 80%
    +large-devices
      max-width: 60%
      min-height: 35vh

.button
  background-color: $button-main-color
  padding: 7px 5px
  width: 90px
  transition: 300ms
  margin: 5px
  cursor: pointer
  text-align: center
  text-decoration: none
  color: $font-main-color
  &:hover
    color: $link-hover-color
    background-color: $button-hover-color

.title
  font-size: 1.5rem

.link
  color: $font-main-color
  transition: 300ms
  cursor: pointer
  text-decoration: none
  &:hover
    color: $link-hover-color

footer
  font-size: .9rem
  margin: 10px 0
  text-align: center
