@import '../sass/mixins.sass'
@import '../sass/defaults.sass'

.whole-wrapper
  .main-container
    .button-container
      margin: auto
      .button
        margin: 5px auto
        +medium-devices
          display: inline-block
          &:first-child
            margin-right: 15px
    .text
      margin: 5px 0 15px 0
