<!DOCTYPE html>
<html>
<head>
  <!-- META -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/css/index.css'/>
  <title>eBay Alerts</title>
</head>
<body>
  <div class='whole-wrapper'>
    <div class='main-container'>
      <div class='title'>Hello World!</div>
      <!-- TODO edit this with better description -->
      <div class='text'>To begin with defaults click on 'Start' to edit some settings click on 'Settings'. If you need more info check out the source code with the link in the footer. </div>
      <div class='button-container'>
        <div class='button' onclick='window.location = "/run"'>
          Start
        </div>
        <div class='button' onclick='window.location = "/settings"'>
          Settings
        </div>
      </div>
    </div>
    <%- include ../partials/footer.ejs %>
  </div>
</body>
